---
import twMerge from '$lib/tailwind';

interface Props {
  tag?: 'header' | 'div';
  class?: ClassName;
  title?: string;
  tagline?: string;
  align?: 'start' | 'center';
}

const { tag: Element = 'header', class: className, title, tagline, align = 'center' } = Astro.props;
---

<Element
  class={twMerge(
    'flex flex-col gap-4',
    'text-center text-xl bp:text-2xl',
    align === 'start' && 'bp:text-start',
    className
  )}>
  <div class='flex flex-col gap-2'>
    <h1
      class:list={[
        'mx-auto mb-4 max-w-[37ch]',
        'text-4xl text-light dark:text-dark sm:text-5xl bp:text-7xl',
        align === 'start' && 'bp:mx-unset'
      ]}>
      <slot name='title'>
        <Fragment set:html={title} />
      </slot>
    </h1>
    <slot name='tagline'>
      {
        tagline && (
          <p
            class:list={['mx-auto mb-2 max-w-[37ch]', align === 'start' && 'bp:mx-0']}
            set:html={tagline}
          />
        )
      }
    </slot>
  </div>
  <slot />
</Element>
