:root {
  --bg-placeholder: linear-gradient(transparent, transparent);
  --bg-image-main: url('/images/bg/light/main/800w.avif');
  --bg-image-main-curves: url('/images/bg/light/main/curves.svg');
  --bg-image-subtle-0: var(--bg-placeholder);
  --bg-image-subtle-1: var(--bg-placeholder);
  --bg-image-footer: var(--bg-placeholder);
  --bg-svg-blend-mode: overlay;
  --bg-blend-mode: darken;
  --bg-image-aspect-ratio: 2.25;
  --bg-scale: 1.68;
  --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
  --bg-gradient-size: calc(var(--bg-scale) * 100%);
}

:root.theme-dark {
  --bg-image-main: url('/images/bg/dark/main/800w.avif');
  --bg-image-main-curves: url('/images/bg/dark/main/curves.svg');
  --bg-svg-blend-mode: darken;
  --bg-blend-mode: lighten;
}

:root.loaded {
  --bg-image-subtle-0: url('/images/bg/light/subtle/0/800w.avif');
  --bg-image-subtle-1: url('/images/bg/light/subtle/1/800w.avif');
  --bg-image-footer: url('/images/bg/light/footer/800w.avif');
}

:root.loaded.theme-dark {
  --bg-image-subtle-0: url('/images/bg/dark/subtle/0/800w.avif');
  --bg-image-subtle-1: url('/images/bg/dark/subtle/1/800w.avif');
  --bg-image-footer: url('/images/bg/dark/footer/800w.avif');
}

@media (min-width: 50em) {
  :root {
    --bg-scale: 1;
    --bg-image-main: url('/images/bg/light/main/1440w.avif');
  }
  :root.theme-dark {
    --bg-image-main: url('/images/bg/dark/main/1440w.avif');
  }
  :root.loaded {
    --bg-image-subtle-0: url('/images/bg/light/subtle/0/1440w.avif');
    --bg-image-subtle-1: url('/images/bg/light/subtle/1/1440w.avif');
    --bg-image-footer: url('/images/bg/light/footer/1440w.avif');
  }
  :root.loaded.theme-dark {
    --bg-image-subtle-0: url('/images/bg/dark/subtle/0/1440w.avif');
    --bg-image-subtle-1: url('/images/bg/dark/subtle/1/1440w.avif');
    --bg-image-footer: url('/images/bg/dark/footer/1440w.avif');
  }
}

.backdrop {
  isolation: isolate;
  background:
    url('/images/bg/noise.avif') top center/220px repeat,
    var(--bg-image-footer) bottom center/var(--bg-gradient-size) no-repeat,
    var(--bg-image-main-curves) top center/var(--bg-gradient-size) no-repeat,
    var(--bg-image-main) top center/var(--bg-gradient-size) no-repeat,
    var(--bg-color);
  background-blend-mode: overlay, var(--bg-blend-mode), var(--bg-svg-blend-mode), normal, normal;
}

@media (forced-colors: active) {
  .backgrounds {
    background: none;
    background-blend-mode: none;
    --bg-gradient-size: none;
  }
}
