@tailwind components;

@layer components {
  :is(.content) {
    @apply bp:text-lg;
  }
}

@tailwind utilities;

@layer utilities {
  :is(.content) > * + * {
    @apply mt-5;
  }

  :is(.content) :where(h1, h2, h3, h4, h5, h6) {
    @apply mb-3 mt-7;
  }
  :is(.content) :where(h1, h2, h3, h4, h5, h6) + * {
    @apply mt-0;
  }

  :is(.content) a {
    @apply underline decoration-transparent underline-offset-4 transition-colors
           duration-200 oversee:decoration-current;
  }

  :is(.content) img {
    @apply rounded-3xl border
           border-light-800
           bg-gradient-to-br from-light-500/20 to-light-950
           shadow-sm dark:border-dark-800
           dark:from-dark-500/20
           dark:to-dark-950 dark:shadow-md dark:shadow-dark-700;
  }

  :is(.content) blockquote {
    @apply border-s-4
           border-light-impact ps-6 font-mono
           font-medium leading-tight text-light dark:border-dark-impact dark:text-dark
           bp:text-lg;
  }

  :is(.content) pre {
    @apply rounded-md px-3 py-2
           font-mono text-sm font-medium leading-relaxed;
  }

  :is(.content) :where(table, th, td) {
    @apply border-collapse border border-light-400 dark:border-dark-500;
  }
  :is(.content) :where(th, td) {
    @apply px-2 py-0.5;
  }

  :is(.content) ul {
    @apply list-inside list-disc;
  }
  :is(.content) ol {
    @apply list-inside list-decimal;
  }
  :is(.content) li > :where(ul, ol) {
    @apply ml-4;
  }
}
