---
import type { CollectionEntry } from 'astro:content';

interface Props {
  project: CollectionEntry<'work'>;
}

const { data, slug } = Astro.props.project;
---

<a
  class:list={[
    'mx-auto h-48 max-w-xs overflow-hidden sm:max-w-lg bp:h-auto bp:max-w-none',
    'grid grid-cols-[auto_1fr] grid-rows-[auto_1fr]',
    'text-xl no-underline',
    'bg-linear-150',
    'from-light-500/20 to-light-950 dark:from-dark-500/20 dark:to-dark-950',
    'rounded-xl border border-light-800 dark:border-dark-800 bp:rounded-3xl',
    'shadow-md shadow-light-500 dark:shadow-dark-700',
    'hover:shadow-lg hover:shadow-light-400 dark:hover:shadow-dark-600',
    'transition-shadow duration-200'
  ]}
  href={`/work/${slug}`}
  itemprop='relatedLink'
  data-astro-prefetch>
  <span
    class:list={[
      'z-10 m-2 px-4 pb-2.5 pt-2',
      'col-start-1 col-end-2 row-start-1 row-end-2',
      'text-xl text-light-200 dark:text-dark-200',
      'rounded-md bg-light-950 dark:bg-dark-950 bp:rounded-2xl'
    ]}>
    {data.title}
  </span>
  <img
    class:list={[
      'h-full w-full object-cover',
      'bp:aspect-video bp:h-auto',
      'col-start-1 col-end-3 row-start-1 row-end-3'
    ]}
    src={data.image}
    alt={data.alt || ''}
    loading='lazy'
    decoding='async'
  />
</a>
