<div
  class:list={[
    'flex gap-2 px-4 py-2',
    'text-light-impact-text dark:text-dark-impact-text whitespace-nowrap text-lg leading-snug',
    'bg-light-impact dark:bg-dark-impact',
    'rounded-full border border-light-impact dark:border-dark-impact'
  ]}>
  <slot />
</div>
