---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Base.astro';
import { CallToAction, Grid, Hero, Icon, Pill } from '$lib/ui';
import { ContactCTA, Portfolio, Skills } from '$lib/components';

const projects = (await getCollection('work'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4);
---

<Layout class='gap-20 bp:gap-48'>
  <div class='wrapper flex flex-col gap-8 lg:gap-20'>
    <header
      class:list={[
        'flex flex-col items-center gap-8',
        'bp:grid bp:grid-cols-[6fr_4fr] bp:gap-16 bp:px-10',
        'hero'
      ]}>
      <Hero
        tag='div'
        tagline='I am a Creative Developer who is currently based in Moscow, Russia.'
        align='start'>
        <Fragment slot='title'>
          Hello, my name is
          <span class='text-light-200 dark:text-dark-500'> DAKS.DEV</span>
        </Fragment>
        <div class='mt-2 hidden gap-2 bp:flex'>
          <Pill>
            <Icon
              icon='code'
              size='1.33em'
            /> Developer
          </Pill>
          <Pill>
            <Icon
              icon='microphone-stage'
              size='1.33em'
            /> Speaker
          </Pill>
          <Pill>
            <Icon
              icon='pencil-line'
              size='1.33em'
            /> Writer
          </Pill>
        </div>
      </Hero>

      <img
        class:list={[
          'w-full max-w-xs',
          'aspect-square object-cover object-top',
          'bg-gradient-to-br dark:bg-gradient-to-tl',
          'from-light-impact-soft via-light-impact to-light-impact-hard',
          'rounded-3xl',
          'shadow-lg shadow-light-300 dark:shadow-dark-700',
          'bp:aspect-3/4 bp:rounded-5xl'
        ]}
        src='/icons/astro.svg'
        width='128'
        height='128'
        alt=''
      />
    </header>

    <Skills />
  </div>

  <main class='wrapper flex flex-col gap-20 lg:gap-48'>
    <section
      class:list={[
        'relative',
        'grid gap-8',
        'bp:grid-cols-4 bp:gap-20',
        'bp:grid-areas-["header_header_header_cta"_"gallery_gallery_gallery_gallery"]',
        'with-background'
      ]}>
      <header
        class:list={[
          'max-w-[50ch]',
          'flex flex-col gap-2 justify-self-center lg:gap-4',
          'text-center text-lg text-light-300 dark:text-dark-300',
          'bp:grid-area-[header]',
          'bp:text-xl',
          'bp:justify-self-start bp:text-left'
        ]}>
        <h3 class='text-4xl bp:text-6xl'>Selected Work</h3>
        <p>Take a look below at some of my featured work for clients from the past few years.</p>
      </header>

      <div class='bp:grid-area-[gallery]'>
        <Grid variant='offset'>
          {
            projects.map((project) => (
              <li>
                <Portfolio project={project} />
              </li>
            ))
          }
        </Grid>
      </div>

      <div class='bp:grid-area-[cta]'>
        <CallToAction href='/work'>
          View All
          <Icon
            icon='arrow-right'
            class='disabled'
            size='1.2em'
          />
        </CallToAction>
      </div>
    </section>

    <section
      class:list={[
        'relative',
        'grid gap-8',
        'bp:grid-cols-4 bp:gap-20',
        'bp:grid-areas-["header_header_header_header"_"gallery_gallery_gallery_gallery"]',
        'with-background',
        'bg-variant'
      ]}>
      <header
        class:list={[
          'max-w-[50ch]',
          'flex flex-col gap-2 justify-self-center lg:gap-4',
          'text-center text-lg text-light-300 dark:text-dark-300',
          'bp:grid-area-[header]',
          'bp:text-xl'
        ]}>
        <h3 class='text-4xl bp:text-6xl'>Mentions</h3>
        <p>
          I have been fortunate enough to receive praise for my work in several publications. Take a
          look below to learn more.
        </p>
      </header>

      <div class='bp:grid-area-[gallery]'>
        <Grid variant='small'>
          {
            ['Medium', 'BuzzFeed', 'The Next Web', 'awwwards.', 'TechCrunch'].map((brand) => (
              <li class='mention-card'>
                <p>{brand}</p>
              </li>
            ))
          }
        </Grid>
      </div>
    </section>
  </main>

  <ContactCTA />
</Layout>

<style lang="postcss">
  .with-background::before {
    --hero-bg: var(--bg-image-subtle-1);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    background:
      url('/images/bg/noise.png') top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--bg-color);
    content: '';
    pointer-events: none;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    transform: translateY(-75%) translateX(-50%);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-0);
  }

  .mention-card {
    @apply h-28 flex justify-center items-center
           text-light-300 dark:text-dark-300 text-center
           border border-light-600 dark:border-dark-800 rounded-3xl
           bg-gradient-to-br from-20% to-150%
           from-light-800 to-light-950 dark:from-dark-800 dark:to-dark-950
           shadow-sm
           bp:h-40 bp:rounded-3xl;
  }
</style>
