---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Base.astro';
import { CallToAction, Grid, Hero, Icon, Pill } from '$lib/ui';
import { ContactCTA, Portfolio, Skills } from '$lib/components';

const projects = (await getCollection('work'))
  .sort((a, b) => b.data.publish.valueOf() - a.data.publish.valueOf())
  .slice(0, 4);
---

<Layout class='bp:gap-48'>
  <div class='wrapper flex flex-col gap-8 lg:gap-20'>
    <header
      class:list={[
        'flex flex-col items-center gap-8',
        'bp:grid bp:grid-cols-[6fr_4fr] bp:gap-16 bp:px-10',
        'hero'
      ]}>
      <Hero
        tag='div'
        tagline='I am a Creative Developer who is currently based in Moscow, Russia.'
        align='start'>
        <Fragment slot='title'>
          Hello, my name is
          <span class='text-light-200 dark:text-dark-500'> DAKS.DEV</span>
        </Fragment>
        <div class='mt-2 hidden gap-2 bp:flex'>
          <Pill>
            <Icon
              icon='code'
              size='1.33em'
            /> Developer
          </Pill>
          <Pill>
            <Icon
              icon='microphone-stage'
              size='1.33em'
            /> Speaker
          </Pill>
          <Pill>
            <Icon
              icon='pencil-line'
              size='1.33em'
            /> Writer
          </Pill>
        </div>
      </Hero>

      <img
        class:list={[
          'w-full max-w-xs',
          'aspect-square object-cover object-top',
          'rounded-3xl bg-gradient-impact shadow-lg shadow-light-300 dark:shadow-dark-700',
          'bp:aspect-3/4 bp:rounded-5xl'
        ]}
        src='/icons/astro.svg'
        width='128'
        height='128'
        alt=''
      />
    </header>

    <Skills />
  </div>

  <main class='wrapper flex flex-col gap-20 lg:gap-48'>
    <section class='section with-background with-cta'>
      <header class='section-header flex flex-col gap-2 lg:gap-4'>
        <h3>Selected Work</h3>
        <p>Take a look below at some of my featured work for clients from the past few years.</p>
      </header>

      <div class='gallery'>
        <Grid variant='offset'>
          {
            projects.map((project) => (
              <li>
                <Portfolio project={project} />
              </li>
            ))
          }
        </Grid>
      </div>

      <div class='cta'>
        <CallToAction href='/work'>
          View All
          <Icon
            icon='arrow-right'
            class='disabled'
            size='1.2em'
          />
        </CallToAction>
      </div>
    </section>

    <section class='section with-background bg-variant'>
      <header class='section-header flex flex-col gap-2 lg:gap-4'>
        <h3>Mentions</h3>
        <p>
          I have been fortunate enough to receive praise for my work in several publications. Take a
          look below to learn more.
        </p>
      </header>

      <div class='gallery'>
        <Grid variant='small'>
          {
            ['Medium', 'BuzzFeed', 'The Next Web', 'awwwards.', 'TechCrunch'].map((brand) => (
              <li class='mention-card'>
                <p>{brand}</p>
              </li>
            ))
          }
        </Grid>
      </div>
    </section>
  </main>

  <ContactCTA />
</Layout>

<style lang="postcss">
  .section {
    display: grid;
    gap: 2rem;
  }

  .with-background {
    position: relative;
  }

  .with-background::before {
    --hero-bg: var(--bg-image-subtle-2);

    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    background:
      url('/images/bg/noise.png') top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--primary-950);
    content: '';
    pointer-events: none;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    transform: translateY(-75%) translateX(-50%);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-1);
  }

  .section-header {
    color: var(--primary-300);
    font-size: var(--text-lg);
    text-align: center;
    justify-self: center;
    max-width: 50ch;
  }

  .section-header h3 {
    font-size: var(--text-4xl);
  }

  @media (min-width: 50em) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
      gap: 5rem;
    }
    .section.with-cta {
      grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
    }
    .section-header {
      grid-area: header;
      font-size: var(--text-xl);
    }
    .section-header h3 {
      font-size: var(--text-6xl);
    }
    .with-cta .section-header {
      justify-self: flex-start;
      text-align: left;
    }
    .gallery {
      grid-area: gallery;
    }
    .cta {
      grid-area: cta;
    }
  }

  .mention-card {
    @apply h-28 flex justify-center items-center
           text-light-300 dark:text-dark-300 text-center
           border border-light-600 dark:border-dark-800 rounded-3xl
           bg-gradient-subtle shadow-sm;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-300);
    text-align: center;
    background: var(--gradient-subtle);
    border: 1px solid var(--primary-600);
    border-radius: 1.5rem;
    height: 7rem;
    box-shadow: var(--shadow-sm);
    */
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }
</style>
