---
import { getCollection } from 'astro:content';

import BaseLayout from '@/layouts/BaseLayout.astro';

import ContactCTA from '$lib/components/ContactCTA.astro';
import PortfolioPreview from '$lib/components/PortfolioPreview.astro';
import Hero from '$lib/components/Hero.astro';
import Grid from '$lib/components/Grid.astro';

const projects = (await getCollection('work')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title='My Work | DAKS.DEV'
  description="Learn about DAKS.DEV's most recent projects">
  <main class='wrapper stack gap-8'>
    <Hero
      title='My Work'
      tagline='See my most recent projects below to get an idea of my past experience.'
      align='start'
    />
    <Grid variant='offset'>
      {
        projects.map((project) => (
          <li>
            <PortfolioPreview project={project} />
          </li>
        ))
      }
    </Grid>
  </main>
  <ContactCTA />
</BaseLayout>
