---
import { getCollection } from 'astro:content';

import Layout from '@/layouts/Base.astro';

import ContactCTA from '$lib/components/contact-cta/ContactCTA.astro';
import Portfolio from '$lib/components/portfolio/Portfolio.astro';
import Hero from '$lib/ui/hero/Hero.astro';
import Grid from '$lib/ui/grid/Grid.astro';

const projects = (await getCollection('work')).sort(
  (a, b) => b.data.publish.valueOf() - a.data.publish.valueOf()
);
---

<Layout
  title='My Work | DAKS.DEV'
  description="Learn about DAKS.DEV's most recent projects">
  <main class='wrapper flex flex-col gap-8'>
    <Hero
      title='My Work'
      tagline='See my most recent projects below to get an idea of my past experience.'
      align='start'
    />
    <Grid variant='offset'>
      {
        projects.map((project) => (
          <li>
            <Portfolio project={project} />
          </li>
        ))
      }
    </Grid>
  </main>
  <ContactCTA />
</Layout>
