---
import Link from '$lib/ui/link/Link.astro';
import Icon from '$lib/ui/icon/Icon.astro';
import ThemeToggle from './ThemeToggle.astro';
import ToTop from './ToTop.astro';

import nav from '$lib/configs/nav';
const {
  navbar: { inners, outers }
} = nav;
---

<nav
  id='app-navbar'
  class:list={[
    'relative z-50 mb-8',
    'font-medium',
    'bp:px-20 bp:py-8',
    'bp:grid bp:h-32 bp:grid-cols-[1fr_auto_1fr] bp:items-center bp:gap-x-4'
  ]}>
  <div class:list={['p-6 bp:p-0', 'flex items-center justify-between gap-2', 'menu-header']}>
    <Link
      class:list={[
        'flex h-10 items-center gap-2',
        'leading-tight text-light-400 no-underline dark:text-dark-400',
        'page:text-light dark:page:text-dark',
        'oversee:text-light dark:oversee:text-dark dark:oversee:hue-rotate-180',
        'bp:text-xl'
      ]}
      href='/'>
      <Icon
        icon='code-block'
        class='text-impact disabled'
        size='2.1em'
        gradient
      />
       DAKS.DEV
    </Link>
    <menu-button>
      <template>
        <button
          id='app-navbar-menu-toogle'
          class:list={[
            'relative flex p-2 ',
            'text-light-300 dark:text-dark-300',
            'rounded-full border-0 bg-gradient-menu-toogle shadow-md dark:shadow-dark-800',
            'aria-expanded:bg-gradient-menu-toogle-expanded aria-expanded:text-light dark:aria-expanded:text-dark',
            'before:absolute before:-inset-px before:-z-10 before:rounded-full before:bg-gradient-stroke before:content-null',
            'bp:hidden'
          ]}
          aria-label='menu toggle'
          aria-expanded='false'
          aria-controls='app-navbar-menu'>
          <span class='sr-only'>menu toggle</span>
          <Icon
            icon='list'
            size='1.5rem'
          />
        </button>
      </template>
    </menu-button>
  </div>
  <div
    id='app-navbar-menu'
    class='absolute inset-x-0 bp:contents'
    aria-owns='app-navbar-menu-toggle'
    hidden>
    <menu
      class:list={[
        'm-0 p-8',
        'flex list-none flex-col gap-4',
        'text-lg leading-tight',
        'border border-light-800 bg-light-950 dark:border-dark-800 dark:bg-dark-950',
        'bp:relative bp:px-2.5 bp:py-2',
        'bp:flex-row',
        'bp:text-sm',
        'bp:rounded-full bp:border-none bp:bg-gradient-menu-items bp:shadow-md bp:shadow-dark-700',
        'bp:before:content-null',
        'bp:before:absolute bp:before:-inset-px bp:before:-z-10',
        'bp:before:rounded-full bp:before:bg-gradient-stroke'
      ]}>
      {
        inners.map(({ class: className, ...props }) => (
          <li>
            <Link
              class:list={['inner', className]}
              {...props}
            />
          </li>
        ))
      }
    </menu>
    <div
      class:list={[
        'py-6 pl-6 pr-8',
        'flex justify-between gap-3',
        'rounded-lg rounded-t-none bg-light-950 shadow-lg dark:bg-dark-950 dark:shadow-dark-800',
        'bp:items-center bp:justify-self-end bp:bg-transparent bp:p-0 bp:shadow-none dark:bp:bg-transparent'
      ]}>
      {
        outers && (
          <div class:list={['flex flex-wrap gap-x-3', 'bp:hidden xl:flex xl:justify-end xl:gap-0']}>
            {outers.map(({ class: className, ...props }) => (
              <Link
                class:list={['outer', className]}
                size='1.625rem'
                {...props}
              />
            ))}
          </div>
        )
      }
      <div class='flex items-center'>
        <ThemeToggle />
      </div>
    </div>
  </div>

  <ToTop class='mt-8 w-14 rounded-full bg-light-500/50 p-3' />
</nav>

<script>
  class MenuButton extends HTMLElement {
    media = window.matchMedia('(min-width: 800px)');
    btn: HTMLButtonElement;
    menu: HTMLElement;

    constructor() {
      super();
      this.appendChild(this.querySelector('template')!.content.cloneNode(true));
      this.btn = this.querySelector('button')!;
      this.menu = document.getElementById('app-navbar-menu')!;
      this.menu.hidden = true;
      this.check(this.media);
    }

    connectedCallback() {
      this.btn.addEventListener('click', () => this.set(this.menu.hidden));
      this.media.addEventListener('change', this.check);
      document.addEventListener('click', this.outside);
    }

    disconnectedCallback() {
      document.removeEventListener('click', this.outside);
    }

    set = (x: boolean) => {
      this.btn.setAttribute('aria-expanded', x ? 'true' : 'false');
      this.menu.hidden = !x;
    };

    check = (e: MediaQueryList | MediaQueryListEvent) => {
      this.set(e.matches);
      this.btn.hidden = e.matches;
    };

    outside = (e: Event) => {
      if (
        e?.target &&
        !this.btn.contains(e.target as Node) &&
        !this.menu.contains(e.target as Node)
      )
        this.check(this.media);
    };
  }

  customElements.define('menu-button', MenuButton);
</script>

<style lang="postcss">
  .inner {
    @apply block
           text-light-400 no-underline aria-[current]:text-light dark:aria-[current]:text-dark
           bp:py-2 bp:px-4 bp:rounded-full
           bp:ready:transition-colors bp:ready:duration-200
           bp:oversee:text-light-100 dark:bp:oversee:text-dark-100 bp:oversee:bg-impact-subtle-overlay
           bp:page:bg-impact bp:page:text-impact-text-over
           forced-colors:text-selected;
  }

  .outer {
    @apply flex p-2
           oversee:text-impact-text-over text-impact-dark no-underline
           ready:transition-colors ready:duration-200;
  }
</style>
