---
import CallToAction from '$lib/ui/CallToAction.astro';
import Icon from '$lib/icons/Icon.astro';
---

<aside
  class:list={[
    'flex flex-col items-center gap-12 md:flex-row md:flex-wrap md:justify-between',
    'px-6 py-20 md:p-32',
    'bg-light-950/40 dark:bg-dark-950/40',
    'shadow-sm',
    'border-b border-t border-light-800 dark:border-dark-800'
  ]}>
  <h2 class='max-w-[15ch] text-center text-xl md:text-left md:text-3xl'>
    Interested in working together?
  </h2>
  <CallToAction href='mailto:mail@daks.dev'>
    Send Me a Message
    <Icon
      icon='paper-plane-tilt'
      size='1.2em'
    />
  </CallToAction>
</aside>
