---
import Icon from '$lib/icons/Icon.astro';

const currentYear = new Date().getFullYear();
---

<footer
  class:list={[
    'bp:flex-row bp:justify-between bp:px-20 bp:py-10 flex flex-col gap-12 px-8 py-12',
    'text-sm text-center text-light-400 dark:text-dark-400'
  ]}>
  <div class='bp:flex-row bp:flex-wrap bp:gap-4 flex flex-col items-center gap-2'>
    <p>
      Designed & Developed in Moscow with <a href='https://astro.build/'>Astro</a>
      <Icon
        class='ms-2 inline-block'
        icon='rocket-launch'
        size='1.2em'
      />
    </p>
    <p>&copy; {currentYear} DAKS.DEV</p>
  </div>
  <p class='bp:justify-end flex flex-wrap justify-center gap-4'>
    <a
      href='https://twitter.com'
      target='_blank'>
      Twitter
    </a>
    <a
      href='https://github.com'
      target='_blank'>
      GitHub
    </a>
    <a
      href='https://codepen.io'
      target='_blank'>
      CodePen
    </a>
  </p>
</footer>

<style lang="postcss">
  a {
    @apply text-light-400 dark:text-dark-400
           underline decoration-transparent underline-offset-4 oversee:decoration-current
           transition-colors duration-500;
  }
</style>
