---
import Icon from '$lib/icons/Icon.astro';
---

<section
  class:list={[
    'p-6 bp:p-10',
    'flex flex-col gap-12 bp:grid bp:grid-cols-3 bp:gap-20',
    'bg-light-950/40 dark:bg-dark-950/40',
    'border border-light-700 dark:border-dark-700',
    'rounded-xl shadow-sm bp:rounded-3xl'
  ]}>
  <div class='flex flex-col gap-2 lg:gap-4'>
    <Icon
      icon='terminal-window'
      color='var(--impact)'
      size='2.5rem'
      gradient
    />
    <h2 class='text-xl bp:text-4xl'>Full Stack</h2>
    <p class='text-light-400 dark:text-dark-400'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </p>
  </div>
  <div class='flex flex-col gap-2 bp:gap-4'>
    <Icon
      icon='trophy'
      class='text-impact'
      size='2.5rem'
      gradient
    />
    <h2 class='text-xl bp:text-4xl'>Industry Leader</h2>
    <p class='text-light-400 dark:text-dark-400'>
      Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor elit.
    </p>
  </div>
  <div class='flex flex-col gap-2 bp:gap-4'>
    <Icon
      icon='strategy'
      class='text-impact'
      size='2.5rem'
      gradient
    />
    <h2 class='text-xl bp:text-4xl'>Strategy-Minded</h2>
    <p class='text-light-400 dark:text-dark-400'>
      Urna porttitor rhoncus dolor purus non enim praesent ornare.
    </p>
  </div>
</section>
