---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class:list={[
    'relative flex place-content-center gap-3 overflow-hidden',
    'px-8 py-4 lg:px-10 lg:py-5',
    'rounded-full bg-gradient-impact-orange shadow-md dark:shadow-dark-800',
    'whitespace-nowrap text-center leading-tight no-underline',
    'text-2xl text-impact-text-over xl:text-3xl',
    'oversee:after:bg-light-950/30 dark:oversee:after:bg-dark-950/30',
    'after:absolute after:inset-0',
    'after:mix-blend-overlay after:content-null',
    'after:pointer-events-none after:touch-none',
    'after:transition-colors after:duration-200'
  ]}
  href={href}>
  <slot />
</a>
